<mat-card>
	<mat-card-actions>
		 <button mat-fab (click)="thumbUp()">
		 	<i class="material-icons">thumb_up</i>
		 	{{ upCount }}
		 </button>
		 <button mat-fab (click)="thumbDown()">
		 	<i class="material-icons">thumb_down</i>
		 	{{ downCount }}
		 </button>
    </mat-card-actions>
</mat-card>
<br/>
<mat-card>
	<mat-card-actions>
		 <button mat-fab (click)="thumbUp()">
		 	<i class="material-icons">thumb_up</i>
		 	{{ upCount }}
		 </button>
		 <button mat-fab (click)="thumbDown()">
		 	<i class="material-icons">thumb_down</i>
		 	{{ downCount }}
		 </button>
    </mat-card-actions>
</mat-card>